/* ==========================================================================
	Author's custom styles
========================================================================== */

/*	Global
========================================================================== */

body
{
	background: $body-bg;
}

.container
{
	/* layout */
	@include outer-container;
	max-width: em($mobile-max-width);
    @include breakpoint(em($breakpoint-width))
	{
		max-width: em($desktop-max-width);
    }

	background: $menu-bg;
	color: $menu-fg;
}

/*	Menu
========================================================================== */

.menu
{
	/* layout */
	@include span-columns(12);
	padding: 0 $gutter;
    @include breakpoint(em($breakpoint-width))
	{
		@include span-columns(3);
		padding: 0 0 0 $gutter;
    }

	background: $menu-bg;
	color: $menu-fg;
}

/*	Content
========================================================================== */

.content
{
	/* layout */
	@include span-columns(12);
	padding: 0 $gutter;
    @include breakpoint(em($breakpoint-width))
	{
		@include span-columns(9);
    }

	background: $content-bg;
	color: $content-fg;
}

/*	Home
========================================================================== */

.home
{

}

/*	About
========================================================================== */

.about
{

}

/*	Skills
========================================================================== */

.skills
{

}

/*	Education
========================================================================== */

.education
{

}

/*	Employment
========================================================================== */

.employment
{

}

/*	Portfolio
========================================================================== */

.portfolio
{

}

/*	Contact
========================================================================== */

.contact
{

}