/* ==========================================================================
	Author's custom styles
========================================================================== */

/*	Fonts
========================================================================== */

@include font-face('Forque', '/fonts/Forque-webfont');
@include font-face('OpenDyslexic', '/fonts/opendyslexic-regular-webfont');
@include font-face('PT Sans', '/fonts/pt_sans-webfont');
@include font-face('PT Sans', '/fonts/pt_sans_bold-webfont', bold);
@include font-face('PT Sans', '/fonts/pt_sans_italic-webfont', normal, italic);
@include font-face('PT Sans', '/fonts/pt_sans_bold_italic-webfont', bold, italic);

/*	Global
========================================================================== */

body
{
	background: $body-bg;
	font-size: $basefont * 1px;
	font-family: 'PT Sans';
}

h1, h2, h3, h4, h5, h6
{
	font-weight: normal;
	text-shadow: $text-shadow;
	font-family: OpenDyslexic;
}

h2
{
	font-size: em(30);
	font-weight: normal;
	text-align: right;
	padding-bottom: em($gutter-width / 3);
	border-bottom: 1px solid $content-fg;
}
h3
{
	font-size: em(21);
}
h4
{
	font-size: em(16);
}
h5
{
	font-size: em(14);
}
h6
{
	font-size: em(12);
}

img
{
	max-width: 100%;
}

.container
{
	@include clearfix;
	@include box-sizing(border-box);
	margin: 0 auto;
	max-width: $mobile-max-width * 1px;
	padding: 0 em(1) em(1) em(1);
	background: $menu-bg;
	color: $menu-fg;

	@media (min-width: em($breakpoint-width)) {
		max-width: em($desktop-max-width);
		padding: 0 em(1) 0 0;
	}
}

/*	Menu
========================================================================== */

.menu
{
	@include clearfix;
	@include box-sizing(border-box);
	width: 100%;
	background: $menu-bg;
	color: $menu-fg;

	@media (min-width: em($breakpoint-width)) {
		float: left;
		width: 25%;
		max-width: em(239);
		height: 100%;
		position: fixed;
		background: url('/img/menu_bg.png') no-repeat center bottom;
	}
}

/*	Navigation
========================================================================== */

.navigation
{
	ul
	{
		list-style: none;
		padding: 0;
		margin: 0;
	}
	li
	{
		margin: em(1);
	}
	a
	{
		display: block;
		padding: em($gutter-width / 4) em($gutter-width);
		color: $menu-fg;
		background: $menu-bg;
		text-decoration: none;
		font-weight: bold;
		text-align: center;
		&:hover
		{
			background-color: lighten($black, 4%);
		}
	}
	li.current a
	{
		background-color: $black;
	}

	@media (min-width: em($breakpoint-width))
	{
		ul
		{
			margin-top: em($gutter-width);
		}
	}
}

/*	Content
========================================================================== */

.content
{
	/* layout */
	@include clearfix;
	@include box-sizing(border-box);
	width: 100%;
	background: $content-bg;
	color: $content-fg;

	@media (min-width: em($breakpoint-width))
	{
		float: right;
		width: 75%;
	}
}

/*	Header
========================================================================== */

.header
{
	@include section;
	h1
	{
		font-family: Forque;
		margin: 1em 0;
	}
	p
	{
		font-family: Forque;
		text-shadow: $text-shadow;
	}

	@media (min-width: em($breakpoint-width))
	{
		h1
		{
			margin-top: 0;
		}
		div
		{
			width: 50%;
			float: right;
		}
		p
		{
			margin-top: 0;
			width: 50%;
			float: left;
			font-weight: none;
		}
	}
}

/*	About
========================================================================== */

.about
{
	@include section;
	@media (min-width: em($breakpoint-width + 160))
	{
		div
		{
			@include columns(2);
		}
	}
}

/*	Skills
========================================================================== */

.skills
{
	@include section;

	ul
	{
		@include clearfix;
		list-style: none;
		margin: em($gutter-width) -#{em($gutter-width / 2)} 0;
		padding: 0;
	}
	li
	{
		@include box-sizing(border-box);
		padding: 0 em($gutter-width / 2);
		width: 100%;
		h3
		{
			margin: 0;
		}
		p
		{
			margin-top: 0;
			margin-right: 58px;
			position: relative;
			&:before
			{
				content: "";
				display: block;
				width: 48px;
				height: 48px;
				background: url('/img/key-skills.png') no-repeat;
				position: absolute;
				right: -58px;
			}
		}
		&.coding p:before
		{
			background-position: -48px -48px;
		}
		&.cms-frameworks p:before
		{
			background-position: -48px -0px;
		}
		&.accessibility p:before
		{
			background-position: -48px -96px;
		}
		&.usability p:before
		{
			background-position: -0px -0px;
		}
		&.server-management p:before
		{
			background-position: -0px -96px;
		}
		&.version-control p:before
		{
			background-position: -0px -48px;
		}
	}

	@media (min-width: em($breakpoint-width + 160))
	{
		li
		{
			width: 50%;
			float: left;
			&:nth-child(2n+1)
			{
				clear: both;
			}
			h3
			{
				margin-bottom: em(6);
			}
			p
			{
				margin-right: 0;
				margin-left: 58px;
				&:before
				{
					left: -58px;
					right: auto;
				}
			}
		}
	}
}

/*	Education
========================================================================== */

.education
{
	@include section;
}

/*	Employment
========================================================================== */

.employment
{
	@include section;
}

/*	Portfolio
========================================================================== */

.portfolio
{
	@include section;
}

/*	Contact
========================================================================== */

.contact
{
	@include section;
}