/* ==========================================================================
	Author's custom styles
========================================================================== */

/*	Fonts
========================================================================== */

@include font-face('PT Sans', '/fonts/pt_sans-webfont');
@include font-face('PT Sans', '/fonts/pt_sans_bold-webfont', bold);
@include font-face('PT Sans', '/fonts/pt_sans_italic-webfont', normal, italic);
@include font-face('PT Sans', '/fonts/pt_sans_bold_italic-webfont', bold, italic);

/*	Global
========================================================================== */

body
{
	background: $body-bg;
	font-size: $basefont * 1px;
	font-family: 'PT Sans';
}

.container
{
	/* layout */
	@include clearfix;
	@include box-sizing(border-box);
	margin: 0 auto;
	max-width: $mobile-max-width * 1px;
	padding: 0 em(1) em(1) em(1);
	@media (min-width: em($breakpoint-width)) {
		max-width: em($desktop-max-width);
		padding: 0 em(1) 0 0;
	}

	background: $menu-bg;
	color: $menu-fg;
}

/*	Menu
========================================================================== */

.menu
{
	/* layout */
	@include clearfix;
	@include box-sizing(border-box);
	width: 100%;
	@media (min-width: em($breakpoint-width)) {
		float: left;
		width: 25%;
		max-width: em(239);
		position: fixed;
	}

	color: $menu-fg;
}

/*	Content
========================================================================== */

.content
{
	/* layout */
	@include clearfix;
	@include box-sizing(border-box);
	width: 100%;
	@media (min-width: em($breakpoint-width)) {
		float: right;
		width: 75%;
	}

	background: $content-bg;
	color: $content-fg;
}

/*	Header
========================================================================== */

.header
{

}

/*	Intro
========================================================================== */

.intro
{
	@include section;
	.left
	{
		@include mg-columns(6);
	}
}

/*	About
========================================================================== */

.about
{
	@include section;
}

/*	Skills
========================================================================== */

.skills
{
	@include section;
}

/*	Education
========================================================================== */

.education
{
	@include section;
}

/*	Employment
========================================================================== */

.employment
{
	@include section;
}

/*	Portfolio
========================================================================== */

.portfolio
{
	@include section;
}

/*	Contact
========================================================================== */

.contact
{
	@include section;
}