/*	Variables
========================================================================== */

/* sizes */
$basefont: 16; // (px)
$mobile-max-width: 400; // (px) This is the maximum width of the mobile site
$breakpoint-width: 600; // (px) This is the width at which the site switches to the desktop layout
$desktop-max-width: 960; // (px) This is the maximum width of the site
$gutter-width: 20; // (px)

/* colours */
$black: #1b1b1b;
$dark-blue: #195f88;
$light-blue: #619EC2;
$dark-grey: #2C2C2C;
$white: #ffffff;

$body-bg: $dark-blue;

$menu-bg: $dark-grey;
$menu-fg: $white;

$content-bg: $light-blue;
$content-fg: $white;

/* misc */
$text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);

/*	Mixins and Functions
========================================================================== */

/* em: http://erskinelabs.com/calculating-ems-scss/ */
@function em($target, $context: $basefont)
{
    @return ($target / $context) * 1em;
}

/* section */
@mixin section()
{
	@include clearfix;
	@include box-sizing(border-box);
	width: 100%;
	padding: 0 em($gutter-width);
	a
	{
		position: relative;
		padding: .5em;
		margin: -.5em;
	}
}

/*	Imports
========================================================================== */

@import 'bourbon/bourbon';

@import 'normalize';
@import 'h5bp';
@import 'style';
@import 'helpers';
@import 'slabtext';
@import 'print';