<section id="about-me" class="about-me">

  <h2>About Me</h2>

  <div class="about-copy">
    <p>I believe the World Wide Web is the greatest thing the human race has ever developed, and I'm proud to contribute
      towards its ongoing development by building quality Web sites and promoting accessibility and usability. </p>

    <p>I graduated from the University of Worcester in 2010, obtaining a first class honours degree, which I feel is the
      greatest achievement of my life (so far).</p>

    <p>I have a keen interest in self development and I like to employ the scientific method to everything that I do by
      making choices based on research and evidence.</p>

    <p>In my spare time I enjoy experimenting with new technology,
      <a href="http://limeblast.co.uk/">writing articles for my blog</a>, playing trading card and computer games, and
      exploring the outside world, either by bicycle or on foot.</p>
  </div>

</section>