<section id="certificates" class="certificates">

  <h2>Certificates</h2>

  <p>The Facilitator School certificate reflects professional development in running workshops and structured sessions.</p>

  <div class="facilitator-school"><a href="/pdf/facilitator-school.pdf" target="_blank"><img src="/img/facilitator-school.png" srcset="/img/facilitator-school@2x.png 2x" alt="Facilitator School Certificate of Completion"></a></div>
  <div class="clearfix"></div>

  <p>The following three come from my role as a volunteer run leader with Chasewater Runners, where I completed the training required to lead and support other runners safely.</p>

  <div class="side-by-side">
    <div class="equality-diversity-in-sport"><a href="/pdf/equality-diversity-in-sport.pdf" target="_blank"><img src="/img/equality-diversity-in-sport.png" srcset="/img/equality-diversity-in-sport@2x.png 2x" alt="Equality and Diversity in Sport"></a></div>
    <div class="first-aid-essentials-in-sport"><a href="/pdf/first-aid-essentials-in-sport.pdf" target="_blank"><img src="/img/first-aid-essentials-in-sport.png" srcset="/img/first-aid-essentials-in-sport@2x.png 2x" alt="First Aid Essentials in Sport & Active Leisure"></a></div>
    <div class="safeguarding-in-athletics"><a href="/pdf/safeguarding-in-athletics.pdf" target="_blank"><img src="/img/safeguarding-in-athletics.png" srcset="/img/safeguarding-in-athletics@2x.png 2x" alt="Safeguarding in Sport"></a></div>
  </div>
  <div class="clearfix"></div>

</section><!-- .certificates -->
