<section id="community" class="projects">

  <h2>Community</h2>

  <section>
    <h3 class="projects-birminghamio">birmingham.io</h3>

    <p><a href="https://web.archive.org/web/20240000000000*/talk.birmingham.io">birmingham.io</a> was an online
      hub I created to cater to the tech scene in Birmingham and the surrounding areas.</p>

    <p>I was the caretaker of the community (which had over 3000 members) for three years, managing all the technical and
      financial aspects of keeping the site running, and organised a number of events for the community, including two
      birthday celebrations for the birmingham.io itself.</p>

    <p>When I moved away from Birmingham I handed the reigns over to a committee of members who maintained the community
      for three more years, before migrating everyone to the <a href="https://brumtech.slack.com/">BrumTech Slack</a>.
    </p>
  </section>

  <hr class="clearfix">

  <section>
    <h3 class="projects-worcestersource">Worcester Source</h3>

    <p>After moving from Birmingham to Worcester I noticed a defunt group on meetup.com, Worcester Source, had been
      scheduled for deletion if no one stepped up to manage it. Keen for another challenge following the success of
      birmingham.io, I volunteered.</p>

    <p>After finding a suitable venue, arranging sponsorship from the local community, finding people willing to give
      presentations on tech-related subjects, and promoting it to members old and new, the group settled into a format
      of meeting once a month for refreshments, networking, a feature presentation on a topic of interest given by a
      guest speaker, and typically a hearty round table discussion on the topic of the day, which often flowed into our
      group's Slack channel in the the following days.</p>

    <p>I run the group for two years until the pandemic forced us to close our doors, and I moved from Worcester to
      Cannock shortly after.</p>
  </section>

</section><!-- .projects -->
