<section id="contact" class="contact">

  <h2>Contact</h2>

  <p>If you like what you see and want to get in touch, you can contact me via any of the social networks listed below,
    by telephoning me using <a href="tel:+447887521229">07887 521 229</a> or
    <a href="&#109;&#97;&#105;l&#116;&#111;&#58;d&#97;&#110;&#105;el@&#108;&#105;m&#101;&#98;l&#97;&#115;t.&#99;&#111;&#46;&#117;k">you
      can email me</a>.</p>

  <%#= partial 'partials/social-links' %>

</section><!-- .contact -->
