<section id="current-projects" class="projects">

  <h2>Current Projects</h2>

  <section>
    <h3 class="projects-makerrip">Maker.RIP</h3>

    <p><a href="https://maker.rip/">Maker.RIP</a> is blog which documents my exploration into the world of <i>making</i>
      - that is the art of physically creating stuff with your hands - with particular focus on woodworking and
      electronics.</p>

    <p>Drawing on memories of playing with basic circuits as a child, I discovered the maker movement in 2015 with the
      release of the Raspberry Pi Zero, a computer so small and cheap that it was given away for free with issue 40 of
      MagPi magazine.</p>

    <p>This was an inspirational moment in my life, and helped me learn that I didn't need to be chained to a desk to
      explore my creative side. In addition to electronics, I found I had particular interest working with wood, and
      have been slowly improving my skills in all areas.</p>

    <p>The Maker.RIP brand is also being promoted across social media outlets, with a particular focus on
      <a href="https://www.instagram.com/maker.rip/">Instagram</a>, as a means of promoting my
      <a href="https://www.etsy.com/uk/shop/MakerRIP">Etsy store</a>.</p>
  </section>

  <hr class="clearfix">

  <section>
    <h3 class="projects-worcestersource">Worcester Source</h3>

    <p><a href="http://worcestersource.club/">Worcester Source</a> is a monthly meetup group which I run which meets
      once a month in central Worcester. Each meet features time for networking and refreshments, the featured
      presentation, and a round table discussion which extends the themes of the talk, with a “what I learnt” discussion
      the following day on the group’s <a href="https://www.worcester.space/">Slack channel</a>.</p>
  </section>

</section><!-- .projects -->
