<header class="cv-print-header">
  <h1 class="cv-print-name">Daniel Hollands</h1>
  <p class="cv-print-title">Product Manager &middot; Cannock / Remote</p>
  <ul class="cv-print-contact">
    <li><a href="tel:+447887521229">07887 521 229</a></li>
    <li><a href="mailto:daniel@limeblast.co.uk">daniel@limeblast.co.uk</a></li>
    <li><a href="https://www.linkedin.com/in/daniel-hollands">linkedin.com/in/daniel-hollands</a></li>
    <li><a href="https://danielhollands.co.uk">danielhollands.co.uk</a></li>
  </ul>
</header>
