<section id="education" class="education">

  <h2>Education</h2>

  <h3>First Class Honours Degree in Web Development (BSc) from University of Worcester</h3>

  <p>I first gained an interest in the World Wide Web as a hobby in 1999. I spent much of my spare time learning Web
    design and development techniques, and as time progressed, and my skills improved, I decided to look for work in the
    Web industry. I found that finding work, despite my self-taught skills, difficult due to a lack of qualifications,
    which prompted me to go to university.</p>

  <p>My time at university was a vastly positive time in my life, and allowed me to improve upon my existing design and
    development skills, in addition to learning project management, planning and research techniques. Among the modules
    studied, I particularly enjoyed:</p>

  <ul class="education-modules">
    <li><strong>Advanced Web Design</strong>, which covered advanced XHTML and CSS techniques, in addition to Web
      standards and cross browser compatibility, allowing for maximum Web exposure.
    </li>
    <li><strong>Qualitative Interface Evaluation</strong>, which covered interface design and usability evaluation,
      allowing for the creation of sites that are both attractive and easy to use.
    </li>
    <li><strong>Publishing on the Web</strong>, which covered a range of Web publishing mediums, such as blogs and
      social networking sites, and how to use them effectively.
    </li>
    <li><strong>Object Oriented Programming</strong>, which taught the fundamentals of OOP, and allowed me to vastly
      improve my PHP development skills.
    </li>
  </ul>

  <p>I've also been <a href="https://web.archive.org/web/20160930034645/http://www.worcester.ac.uk/community/daniel-hollands.html">featured as a success story</a>
    on the University of Worcester's Web site.</p>

  <h3 class="education-win">Worcester Ideas Network</h3>

  <p>In my third year at university I was voted into the position of chairperson for the entrepreneurial society
    Worcester Ideas Network (WIN). The society helps students by organising workshops and participating in networking
    and competitions across Europe. One such competition was EPOCH, hosted by the London School of Economics in the
    style of The Apprentice TV show. My team won the marketing challenge which was judged by Orange, and continued to
    come second place in the competition overall.</p>

  <p>My time as chairperson of the society provided me with valuable leadership and planning experience, as demonstrated
    in the planning of a trip to Germany to participate in an international conference, and the organisation of a series
    of seminars on idea generation, presented by lecturers from other universities.</p>

</section>
