<section id="education" class="education">

  <h2>Education</h2>

  <h3>First Class Honours Degree in Web Development (BSc) from University of Worcester</h3>

  <p>When I graduated in 2010 I was <a href="https://web.archive.org/web/20160930034645/http://www.worcester.ac.uk/community/daniel-hollands.html">featured as a success story</a> on the University of Worcester's Web site. The programme developed a strong foundation in software engineering principles, which has underpinned every role since.</p>

</section>
