<section id="employment" class="employment">

  <h2>Employment</h2>

  <section class="employment-intercity">
    <h3 class="employment-role">Ruby Software Engineer for Foxsoft Ltd.</h3>

    <ul class="employment-details">
      <li class="employment-location">Tamworth</li>
      <li class="employment-dates">Jan 2016 - Present</li>
    </ul>

    <ul class="employment-tags">
      <li>Ruby on Rails</li>
      <li>FoxPro Conversion</li>
      <li>Test-Driven Development</li>
      <li>External Clients</li>
      <li>DevOps</li>
    </ul>

    <p class="employment-description">The role primarily focuses on building and maintaining custom Rails solutions for
      a number of commercial clients, most of which were formally running outdated FoxPro systems. We have the internal
      motto of <em>dragging our clients, kicking and screaming, into the future</em>, but what this means in reality is
      making sure they understand the benefits of modern tooling, and helping them improve their workflow using them.
    </p>
  </section>

  <section class="employment-intercity">
    <h3 class="employment-role">Ruby Software Engineer for Intercity UK</h3>

    <ul class="employment-details">
      <li class="employment-location">Birmingham</li>
      <li class="employment-dates">Dec 2015 - Present</li>
    </ul>

    <ul class="employment-tags">
      <li>Ruby on Rails</li>
      <li>PostgreSQL</li>
      <li>Test-Driven Development</li>
      <li>Internal Clients</li>
      <li>Git</li>
    </ul>

    <p class="employment-description">As part of a team of Ruby developers, acting as a liaising with the original
      system's Java developers, the team are responsible for building a customer billing and information portal. To make
      it easy to use for our customers, the portal combines data from multiple sources into a single system, and
      features powerful custom reporting.</p>
  </section>

  <section class="employment-school-stickers">
    <h3 class="employment-role">Senior Web Developer for School Stickers</h3>

    <ul class="employment-details">
      <li class="employment-location">Birmingham</li>
      <li class="employment-dates">Jul 2013 - Oct 2014</li>
    </ul>

    <ul class="employment-tags">
      <li>Yii</li>
      <li>Magento</li>
      <li>E-Commerce</li>
      <li>Subversion</li>
      <li>
        <abbr title="REpresentational State Transfer architectural style for distributed hypermedia systems">REST</abbr>ful
        <abbr title="Application Programming Interface">API</abbr>s
      </li>
      <li>Automated Deployment</li>
    </ul>

    <p class="employment-description">Working with a small team of developers, I was responsible for the sites and
      systems that powered the School Stickers behaviour reward experience. This included development of custom modules
      for the customer facing Magento e-commerce store, maintenance of RESTful APIs to allow schools to access relevant
      information about their students, and integrations with external services for third party authentication.</p>
  </section>

  <section class="employment-ghost-design">
    <h3 class="employment-role">Web Developer for Ghost Design</h3>

    <ul class="employment-details">
      <li class="employment-location">Leamington Spa</li>
      <li class="employment-dates">Sep 2011 - Jul 2013</li>
    </ul>

    <ul class="employment-tags">
      <li>Wordpress</li>
      <li>PerchCMS</li>
      <li>Lemonstand</li>
      <li>CakePHP</li>
      <li>Project Management</li>
      <li>Git</li>
    </ul>

    <p class="employment-description">I was responsible for the development of all the Web elements of projects taken on
      by the company. This includes writing project proposals and specifications, frontend coding of Photoshop designs,
      backend development using the tools best suited to the project, and liaising with clients.</p>
  </section>

  <section class="employment-propeller-communications">
    <h3 class="employment-role">Backend PHP Developer for Propeller Communications</h3>

    <ul class="employment-details">
      <li class="employment-location">Rugby</li>
      <li class="employment-dates">Oct 2010 - Sep 2011</li>
    </ul>

    <ul class="employment-tags">
      <li>PHP</li>
      <li>MySQL</li>
      <li>Fuel</li>
      <li>CodeIgniter</li>
      <li>Mercurial</li>
    </ul>

    <p class="employment-description">My role consisted of development with the company's MVC-based framework to build
      dynamic PHP-based CMS Web sites. This role included management of Mercurial repositories, which provides a
      safety-net during development, and allows multiple members of a team to work on the same project. The role has
      also allowed me to gain experience with jQuery and the use of AJAX, to provide a seamless end user experience.</p>
  </section>

  <section>
    <h3 class="employment-role">Graduate Intern Web Developer for South Worcestershire College</h3>

    <ul class="employment-details">
      <li class="employment-location">Evesham</li>
      <li class="employment-dates">Jan 2010 - Sep 2010</li>
    </ul>

    <ul class="employment-tags">
      <li>CakePHP</li>
      <li>XHTML</li>
      <li>CSS</li>
      <li>Project Management</li>
    </ul>

    <p class="employment-description">I was solely responsible for the planning, development, testing, launch and
      maintenance of a new college Web site. The focus of the new site was that of making it easier to use, to improve
      compliance with the Disability Discrimination Act, and to improve search engine rankings. Upon completion it was
      greeted with positive feedback from both staff and students at the college, and an increased conversion rate.</p>
  </section>

  <section class="employment-university-of-worcester">
    <h3 class="employment-role">IT and Media Support Technician for University of Worcester</h3>

    <ul class="employment-details">
      <li class="employment-location">Worcester</li>
      <li class="employment-dates">Sep 2008 - Dec 2009</li>
    </ul>

    <ul class="employment-tags">
      <li>Windows</li>
      <li>Printers</li>
      <li>Networking</li>
      <li>Public Facing</li>
    </ul>

    <p class="employment-description">I was part of a team responsible for providing media and technical support to
      students within the university's library. The role involved supporting the university's PCs, printers and
      software, as well as helping student's laptops to connect to the network. We needed good customer service skills,
      to ensure we dealt with customers with courtesy and respect, and as we were the most senior members of staff
      during our shifts, we had to uphold a professional image of the library and ensure compliance of its code of
      conduct.</p>
  </section>

</section><!-- .employment -->
