<section id="employment" class="employment">

  <h2>Employment</h2>

  <section class="employment-foxsoft-integrator">
    <h3 class="employment-role">Integrator for Foxsoft Ltd.</h3>

    <ul class="employment-details">
      <li class="employment-location">Remote / Tamworth</li>
      <li class="employment-dates">Jun 2024 - Present</li>
    </ul>

    <ul class="employment-tags">
      <li>Core Process Documentation</li>
      <li>Getting Things Done</li>
      <li>Scorecards</li>
      <li>Leadership</li>
    </ul>

    <p class="employment-description">After a couple years of self-implementing EOS, we started working with an Implementer, and I adopted role of Integrator. Many of the skills I had learned as a product manager equally applied to the Integrator, just with a different context and scope. I became accountable for a number of business functions and led the charge in documenting our core processes.</p>
  </section>

  <hr class="clearfix">

  <section class="employment-foxsoft-product">
    <h3 class="employment-role">Head of Product for Foxsoft Ltd.</h3>

    <ul class="employment-details">
      <li class="employment-location">Remote / Tamworth</li>
      <li class="employment-dates">Jun 2020 - Jun 2024</li>
    </ul>

    <ul class="employment-tags">
      <li>User Story Refinement</li>
      <li>Roadmapping</li>
      <li>Workshop Facilitation</li>
      <li>Line Management</li>
    </ul>

    <p class="employment-description">As the company grew I recognised and successfully lobbied the leadership team for the introduction of an explicit Product role. I led a team of product managers, and was responsible for establishing the policies and processes required to achieve our objective of promoting alignment among all stakeholders, and making sure we're solving the correct problems for our clients and their users.</p>
  </section>

  <hr class="clearfix">

  <section class="employment-foxsoft-ruby">
    <h3 class="employment-role">Ruby Software Engineer for Foxsoft Ltd.</h3>

    <ul class="employment-details">
      <li class="employment-location">Remote / Tamworth</li>
      <li class="employment-dates">Jan 2016 - Jun 2020</li>
    </ul>

    <ul class="employment-tags">
      <li>Ruby on Rails</li>
      <li>Test-Driven Development</li>
      <li>User Story Refinement</li>
      <li>Line Management</li>
    </ul>

    <p class="employment-description">The role primarily focused on building and maintaining custom Rails apps for a number of commercial clients, many of which were running outdated FoxPro systems which needed migrating to a modern solution. These were rarely 1:1 conversions, so a significant part of the job was establishing the requirements and crafting solutions which met them while maintaining the budget.</p>
  </section>

  <hr class="clearfix">

  <section class="employment-intercity">
    <h3 class="employment-role">Ruby Software Engineer for Intercity UK</h3>

    <ul class="employment-details">
      <li class="employment-location">Birmingham</li>
      <li class="employment-dates">November 2014 - Dec 2015</li>
    </ul>

    <ul class="employment-tags">
      <li>Ruby on Rails</li>
      <li>PostgreSQL</li>
      <li>Test-Driven Development</li>
      <li>Internal Clients</li>
      <li>Git</li>
    </ul>
  </section>

  <hr class="clearfix">

  <section class="employment-school-stickers">
    <h3 class="employment-role">Senior Web Developer for School Stickers</h3>

    <ul class="employment-details">
      <li class="employment-location">Birmingham</li>
      <li class="employment-dates">Jul 2013 - Oct 2014</li>
    </ul>

    <ul class="employment-tags">
      <li>Yii</li>
      <li>Magento</li>
      <li>E-Commerce</li>
      <li>Subversion</li>
      <li>
        <abbr title="REpresentational State Transfer architectural style for distributed hypermedia systems">REST</abbr>ful
        <abbr title="Application Programming Interface">API</abbr>s
      </li>
      <li>Automated Deployment</li>
    </ul>
  </section>

  <hr class="clearfix">

  <section class="employment-ghost-design">
    <h3 class="employment-role">Web Developer for Ghost Design</h3>

    <ul class="employment-details">
      <li class="employment-location">Leamington Spa</li>
      <li class="employment-dates">Sep 2011 - Jul 2013</li>
    </ul>

    <ul class="employment-tags">
      <li>Wordpress</li>
      <li>PerchCMS</li>
      <li>Lemonstand</li>
      <li>CakePHP</li>
      <li>Project Management</li>
      <li>Git</li>
    </ul>
  </section>

</section><!-- .employment -->
