<footer class="footer" role="contentinfo">
  Site content Copyright &copy; <%== Date.today.strftime('%Y') %> Daniel Hollands.
    <a href="https://github.com/LimeBlast/danielhollands.co.uk">View source on GitHub</a>.</p>
</footer><!-- #footer -->
