<footer class="footer" role="contentinfo">
  Site content Copyright &copy; 2018 Daniel Hollands.
    <a href="https://bitbucket.org/LimeBlast/danielhollands.co.uk">View source on GitHub</a>.</p>
</footer><!-- #footer -->
