<footer class="footer" role="contentinfo">
  <p>Site content Copyright &copy; 2015 Daniel Hollands.
    <a href="https://bitbucket.org/LimeBlast/danielhollands.co.uk">View source on Bitbucket</a>.</p>
</footer><!-- #footer -->
