<header id="header" class="header" role="banner">

  <h1 class="header-title">My Name is Daniel.</h1>

  <div class="header-image">
    <img src="/img/header.png" srcset="/img/header@2x.png 2x" alt="">
  </div>

  <div class="header-copy">
    <p>
      <span class="headertext">I am <em>probably</em> the</span>
      <span class="headertext"><span class="highlight">Product Manager</span></span>
      <span class="headertext">you are looking for.</span>
    </p>

    <p>
      <span class="headertext">Welcome to my</span>
      <span class="headertext highlight">curriculum vitae.</span>
    </p>
  </div>

</header>
