<header id="header" class="header" role="banner">

  <h1 class="header-title">My Name is Daniel.</h1>

  <div class="header-image">
    <img src="/img/header.png" data-at2x="/img/header@2x.png" alt=""/>
  </div>

  <div class="header-copy">
    <p>
      <span class="slabtext">I am a <span class="highlight">Web Developer</span></span>
      <span class="slabtext">with a passion for the</span>
      <span class="slabtext highlight">World Wide Web.</span>
    </p>

    <p>
      <span class="slabtext">Welcome to my</span>
      <span class="slabtext highlight">curriculum vitae.</span>
    </p>
  </div>

  <!--[if lt IE 9]>
  <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser
    today</a> to better experience this site.</p>
  <![endif]-->

</header>
