<section id="hobbies" class="hobbies">

  <h2>Hobbies</h2>

  <section>
    <p>I have an interest in running, cycling, and my own health and fitness in general. I've been running on and off since 2015, but picked it up again as a regular habit in 2023 when I joined Chasewater Runners. Since then I've competed in multiple 5k and 10k races, the Stratford half marathon, and an off-road sprint duathlon.</p>

    <p>Living in Cannock means I have easy access to the mountain biking single track trails across Cannock Chase, which I ride on a regular basis. But I'm just as happy on my gravel bike riding along greenways such as the Tissington Trail, or along the many miles of canal in the local area.</p>
  </section>

</section><!-- .hobbies -->
