<section id="key-skills" class="key-skills">

  <h2>Key Skills</h2>

  <ul class="skills-list">
    <li class="coding">
      <h3>Coding</h3>

      <p>Professional experience of coding tools and technologies including Ruby, JavaScript, Python, C (Arduino),
        <abbr title="PHP: Hypertext Preprocessor">PHP</abbr>, PostgreSQL, <abbr title="My Structure Query Language">MySQL</abbr>,
        and frontend markup languages.</p>
    </li>
    <li class="cms-frameworks">
      <h3>CMS and Frameworks</h3>

      <p>Experience using <abbr title="Model View Controller">MVC</abbr> frameworks Ruby on Rails, Hanami,
        and Laravel, <abbr title="Content Management System">CMS</abbr>
        platforms Wordpress, TYPO3, Perch CMS and CouchCMS, and e-commerce platforms
        Magento and Lemonstand.</p>
    </li>
    <li class="accessibility-usability">
      <h3>Accessibility and Usability</h3>

      <p>Knowledge of Web standards and usability evaluation techniques, allowing for the creation of sites that work
        across multiple browsers and devices, for people of all abilities.</p>
    </li>
    <li class="test-driven-development">
      <h3>Test-Driven Development (TDD)</h3>

      <p>Experience using test-driven development techniques, which allow for projects that avoid technical debt, and
        ensure future updates don't break existing functionality.</p>
    </li>
    <li class="server-management">
      <h3>Server Management</h3>

      <p>Experience using automated technologies, including Puppet and Ansible, to install and configure Linux web and
        application servers</p>
    </li>
    <li class="version-control">
      <h3>Version Control</h3>

      <p>Experience using Git distributed version control system, allowing for the tracking of changes throughout a
        project's history.</p>
    </li>
  </ul>

</section>
