<section id="key-skills" class="key-skills">

  <h2>Key Skills</h2>

  <ul class="skills-list">
    <li class="product-management">
      <h3>Product Management</h3>
      <p>Part business acumen, part technical know-how, and part user experience expertise; <em>product management</em> is the art of establishing what a product needs to be successful, and maintaining alignment among all stakeholders toward that goal.</p>
    </li>

    <li class="project-management">
      <h3>Project Management</h3>
      <p>Knowing where to go and knowing how to get there are different skills. <em>Project management</em> takes care of the day-to-day realities of delivering a project within the established constraints of the time and budget afforded to it.</p>
    </li>

    <li class="facilitation">
      <h3>Facilitation</h3>
      <p><em>Facilitation</em> is the art of running meetings and workshops that achieve their stated outcomes without going over time. They should be always greater than the sum of their parts, inspiring and energizing those who attend, and never described as "...should have been an email".</p>
    </li>

    <li class="workshop-design">
      <h3>Workshop Design</h3>
      <p>Divergence and convergence.</p>
    </li>

    <li class="leadership">
      <h3>Leadership</h3>
      <p>Company wide decisions. Operations.</p>
    </li>

    <li class="line-management">
      <h3>Line Management</h3>

      <p>Mentoring. Goal setting. Mental health first aid.</p>
    </li>
  </ul>

</section>
