<section id="key-skills" class="key-skills">

  <h2>Key Skills</h2>

  <ul class="skills-list">
    <li class="eos">
      <h3>Entrepreneurial Operating System (EOS)</h3>
      <p>Using the Six Key Components and framework tools of EOS to run a successful business.</p>
    </li>

    <li class="leadership">
      <h3>Leadership</h3>
      <p>Driving success through empowerment of leadership and accountability through all levels of an organisation.</p>
    </li>

    <li class="ownership">
      <h3>Ownership</h3>
      <p>Taking personal accountability for anything within my remit, doing what's needed to ensure success.</p>
    </li>

    <li class="facilitation">
      <h3>Facilitation</h3>
      <p>Hosting energising meetings and workshops which achieve their goals and inspire forward momentum.</p>
    </li>

    <li class="product-management">
      <h3>Product Management</h3>
      <p>Equal parts business acumen, technical know-how, and user experience expertise, to help products succeed.</p>
    </li>

    <li class="project-management">
      <h3>Project Management</h3>
      <p>Taking care of the day-to-day realities of delivering within the established constraints of the time and budget.</p>
  </ul>

</section>
