<section id="key-skills" class="key-skills">

  <h2>Key Skills</h2>

  <ul class="skills-list">
    <li class="languages-frameworks">
      <h3>Languages and Frameworks</h3>

      <p>Professional experience using Ruby and JavaScript within the Rails framework, and hobby-level experience
        with a handful of other languages.</p>
    </li>
    <li class="self-development">
      <h3>Self Development</h3>

      <p>Spends a lot of time on self development, be it learning new skills, or improving existing ones. Never one to
        shy away from learning a thing or two.</p>
    </li>
    <li class="professional-standards">
      <h3>Professional Standards</h3>

      <p>A high professional standard, ensuring anything which needs to be done, is done well and follows best
        practice.</p>
    </li>
    <li class="project-management">
      <h3>Project Management</h3>

      <p>Understands Agile methodology and respects the five P's (Proper planning prevents poor performance).</p>
    </li>
    <li class="community-building">
      <h3>Community Building</h3>

      <p>Has started two different community projects aimed at bringing people within the tech scene together for
        collaboration and socialising.</p>
    </li>
    <li class="making">
      <h3>Crafts and Making</h3>

      <p>When not cracking out code for the web, you'll find me writing code for the Arduino, or in my workshop making
        things from wood.</p>
    </li>
  </ul>

</section>
