<section id="key-skills" class="key-skills">

  <h2>Key Skills</h2>

  <ul class="skills-list">
    <li class="coding">
      <h3>Coding</h3>

      <p>Professional experience of coding tools and technologies including
        <abbr title="PHP: Hypertext Preprocessor">PHP</abbr>, <abbr title="My Structure Query Language">MySQL</abbr>,
        <abbr title="Hyper Text Markup Language version 5">HTML 5</abbr>,
        <abbr title="Cascading Style Sheets level 3">CSS 3</abbr>, and jQuery, all of which allow for the creation of
        dynamic Web sites.</p>
    </li>
    <li class="cms-frameworks">
      <h3>CMS and Frameworks</h3>

      <p>Experience using <abbr title="Model View Controller">MVC</abbr> frameworks <em>Yii</em>, <em>Laravel</em> and
        <em>CakePHP</em>, <abbr title="Content Management System">CMS</abbr> platforms <em>Wordpress</em>,
        <em>Perch CMS</em> and <em>CouchCMS</em>, and e-commerce platforms <em>Magento</em> and <em>Lemonstand</em>.</p>
    </li>
    <li class="accessibility">
      <h3>Accessibility</h3>

      <p>Knowledge of Web standards, allowing for the creation of sites that work across multiple browsers and devices,
        while ensuring they comply with accessibility legislation.</p>
    </li>
    <li class="usability">
      <h3>Usability</h3>

      <p>Experience with usability evaluation techniques, which are useful for testing a site's ease of use, and
        highlighting where improvements could be made.</p>
    </li>
    <li class="server-management">
      <h3>Server Management</h3>

      <p>Experience installing, configuring and running a Linux (Debian 6) Web server environment for hosting Web
        sites.</p>
    </li>
    <li class="version-control">
      <h3>Version Control</h3>

      <p>Experience using Git distributed version control system, allowing for the tracking of changes throughout a
        project's history.</p>
    </li>
  </ul>

</section>