<section id="key-skills" class="key-skills">

  <h2>Key Skills</h2>

  <ul class="skills-list">
    <li class="eos">
      <h3>Entrepreneurial Operating System (EOS)</h3>
      <p>Understanding the Six Key Components of EOS, and using the framework tools provided to run a successful business.</p>
    </li>

    <li class="leadership">
      <h3>Leadership</h3>
      <p>Driving success within an organisation through empowerment of leadership and accountability through all levels.</p>
    </li>

    <li class="getting-things-done">
      <h3>Getting Things Done</h3>

      <p>Organisational and project management skills which solve problems on time and on budget.</p>
    </li>

    <li class="facilitation">
      <h3>Facilitation</h3>
      <p>Running inspiring and energising meetings and workshops which achieve their goals without running over.</p>
    </li>
  </ul>

</section>
