<div class="menu">
  <div class="fixed">

    <div id="shownav" class="shownav">
      <nav class="navigation" role="navigation">
        <ul id="navigation">
          <li class="current"><a href="#header">Introduction</a></li>
          <li><a href="#about-me">About Me</a></li>
          <li><a href="#key-skills">Key Skills</a></li>
          <li><a href="#education">Education</a></li>
          <li><a href="#employment">Employment</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#contact">Contact</a></li>
          <!--li class="pdf"><a href="/Daniel-Hollands-CV.pdf" class="external">Download CV</a></li-->
        </ul>
      </nav>

      <%= partial "partials/social-links" %>

    </div>

    <div id="shownavbutton" class="shownavbutton">
      Navigation
    </div>

  </div>
</div>