<section id="past-projects" class="projects">

  <h2>Past Projects</h2>

  <section>
    <h3 class="projects-birminghamio">birmingham.io</h3>

    <p><a href="http://birmingham.io/">birmingham.io</a> is an online community catering to the tech, coder, start-up
      and design communities in Birmingham and surrounding areas. It was inspired by city's vibrant tech scene, which is
      enabled by the individuals, businesses, and meet-up groups that exist within it.</p>

    <p>After getting involved in the tech scene by attending various meet-ups, I was shocked to discover the lack of any
      central online community which catered to them all, the site, so I decided to build it myself, for the purely
      selfish purpose of wanting something like it it exist.</p>

    <p>The site is powered by Discourse, deployed via Docker, and hosted on a Bytemark
      <abbr title="Virtual Machine">VM</abbr>. I choose these technologies mainly because they're the best tools for the
      job, but also because I've never used the technologies involved before, so they provided a challenge and something
      which I can learn from.</p>

    <p>Since moving away from Birmingham to Worcester, I handed the reigns over to a committee of members, who have been
      looking at the project since.</p>
  </section>

</section><!-- .projects -->
