<section id="projects" class="projects">

  <h2>Projects</h2>

  <section>
    <h3 class="projects-makerrip">Maker.RIP</h3>

    <p><a href="https://maker.rip/">Maker.RIP</a> is blog which documents my exploration into the world of <i>making</i>
      - that is the art of physically creating stuff with your hands - with particular focus on woodworking and
      electronics.</p>

    <p>Drawing on memories of playing with basic circuits as a child, I discovered the maker movement in 2015 with the
      release of the Raspberry Pi Zero, a computer so small and cheap that it was given away for free with issue 40 of
      MagPi magazine.</p>

    <p>This was an inspirational moment in my life, and helped me learn that I didn't need to be chained to a desk to
      explore my creative side. In addition to electronics, I found I had particular interest working with wood, and
      have been slowly improving my skills in all areas.</p>

    <p>The Maker.RIP brand is also being promoted across social media outlets, with a particular focus on
      <a href="https://www.instagram.com/maker.rip/">Instagram</a>, as a means of promoting my
      <a href="https://www.etsy.com/uk/shop/MakerRIP">Etsy store</a>.</p>
  </section>

  <hr class="clearfix">

  <section>
    <h3 class="projects-birminghamio">birmingham.io</h3>

    <p><a href="http://birmingham.io/">birmingham.io</a> is an online community catering to the tech, coder, start-up
      and design communities in Birmingham and surrounding areas. It was inspired by city's vibrant tech scene, which is
      enabled by the individuals, businesses, and meet-up groups that exist within it.</p>

    <p>After getting involved in the tech scene by attending various meet-ups, I was shocked to discover the lack of any
      central online community which catered to them all, the site, so I decided to build it myself, for the purely
      selfish purpose of wanting something like it it exist.</p>

    <p>The site is powered by Discourse, deployed via Docker, and hosted on a Bytemark
      <abbr title="Virtual Machine">VM</abbr>. I choose these technologies mainly because they're the best tools for the
      job, but also because I've never used the technologies involved before, so they provided a challenge and something
      which I can learn from.</p>
  </section>

</section><!-- .projects -->
