<div class="social-links">
	<ul>
		<li><a href="http://twitter.com/limeblast/" class="twitter" title="@LimeBlast on Twitter">@LimeBlast on Twitter</a></li>
		<li><a href="http://facebook.com/limeblast/" class="facebook" title="LimeBlast on Facebook">LimeBlast on Facebook</a></li>
		<li><a href="http://uk.linkedin.com/in/limeblast" class="linkedin" title="Daniel Hollands on LinkedIn">Daniel Hollands on LinkedIn</a></li>
		<li><a href="http://stackoverflow.com/users/1049688/daniel-hollands" class="stack-overflow" title="Daniel Hollands on Stack Overflow">Daniel Hollands on Stack Overflow</a></li>
		<li><a href="https://github.com/LimeBlast" class="github" title="LimeBlast on GitHub">LimeBlast on GitHub</a></li>
		<li><a href="https://bitbucket.org/LimeBlast" class="bitbucket" title="LimeBlast on BitBucket">LimeBlast on BitBucket</a></li>
		<li><a href="http://limeblast.co.uk/" class="lime-blast" title="Lime Blast Blog">Lime Blast Blog</a></li>
	</ul>
</div><!-- .social-links -->
