<div class="social-links">
	<ul>
		<li><a href="http://twitter.com/limeblast/" class="twitter" title="@LimeBlast on Twitter">@LimeBlast on	Twitter</a></li>
		<li><a href="http://facebook.com/limeblast/" class="facebook" title="LimeBlast on Facebook">LimeBlast on Facebook</a></li>
		<li><a href="https://plus.google.com/112741180856524338972?rel=author" class="google-plus" title="Daniel Hollands on Google+">Daniel Hollands on Google+</a></li>
		<li><a href="http://uk.linkedin.com/in/limeblast" class="linkedin" title="Daniel Hollands on LinkedIn">Daniel Hollands on LinkedIn</a></li>
		<li><a href="http://stackoverflow.com/users/1049688/daniel-hollands" class="stack-overflow" title="Daniel Hollands on Stack Overflow">Daniel Hollands on Stack Overflow</a></li>
		<li><a href="http://careers.stackoverflow.com/limeblast" class="careers-20" title="Daniel Hollands on Careers 2.0">Daniel Hollands on Careers 2.0</a></li>
		<li><a href="https://github.com/LimeBlast" class="github" title="LimeBlast on GitHub">LimeBlast on GitHub</a></li>
		<li><a href="https://bitbucket.org/LimeBlast" class="bitbucket" title="LimeBlast on BitBucket">LimeBlast on BitBucket</a></li>
		<li><a href="http://www.codeschool.com/users/LimeBlast" class="code-school" title="LimeBlast on Code School">LimeBlast on Code School</a></li>
		<li><a href="http://limeblast.co.uk/" class="lime-blast" title="Lime Blast Blog">Lime Blast Blog</a></li>
	</ul>
</div><!-- .social-links -->
