/* ==========================================================================
   Layout
   ========================================================================== */
$desktop-breakpoint: 40em;
$max-width: 1000px;
$menu-width-pct: 25%;
$gutter-width: 24px;

/* ==========================================================================
   Colours
   ========================================================================== */
$white: #fff;
$black: #222;
$orange: #ffc278;
$qs-feature-color: $orange;
$menu-bg-color: #2c2c2c;
$menu-link-color: $white;
$content-bg-color: #619ec2;
$content-link-color: lighten($orange, 10%);
$content-link-hover-color: lighten($content-link-color, 20%);
$body-bg-color: #195f88;
$main-fg-color: $white;

/* ==========================================================================
   Text shadow
   ========================================================================== */
$default-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);

/* ==========================================================================
   Vertical rhythm
   ========================================================================== */
$qs-base-font-size: 16;
$base-font-size: $qs-base-font-size * 1px;
$qs-base-line-height: 24;
$base-line-height: $qs-base-line-height * 1px;
$indent-amount: 48px;
$base-font-family: "PT Sans", sans-serif;
$title-font-family: "PT Sans", sans-serif;
$standout-font-family: "Forque", "PT Sans", sans-serif;
$h1-font-size: 2 * $base-font-size;
$h2-font-size: 1.5 * $base-font-size;
$h3-font-size: 1.17 * $base-font-size;
$h4-font-size: 1 * $base-font-size;
$h5-font-size: 0.83 * $base-font-size;
$h6-font-size: 0.67 * $base-font-size;
