.headertexted .headertext {
  display: inline-block;
  white-space: nowrap;
}

.headertextinactive .headertext {
  display: inline;
  white-space: normal;
  font-size: 1em !important;
  letter-spacing: inherit !important;
  word-spacing: inherit !important;
}

.headertextdone .headertext {
  display: block;
  line-height: 0.9;
}
