/* ==========================================================================
   Mixins
   ========================================================================== */

/* Convert PX to EM (based on the $base-font-size)
   https://gist.github.com/ijy/1441967
   ========================================================================== */
@function em($target, $context: $base-font-size) {
  @if $target == 0 {
    @return 0;
  }
  @return $target / $context + 0em;
}

/* Convert PX to REM (based on the $base-font-size)
   ========================================================================== */
@function rem($target) {
  @if $target == 0 {
    @return 0;
  }
  @return $target / $base-font-size + 0rem;
}

@mixin rem($target) {
  font-size: $target;
  font-size: rem($target);
}
