/* dimentions */

/* neat */
//$column: golden-ratio(1em, 3) !default; // Column width
//$gutter: golden-ratio(1em, 1) !default; // Gutter between each two columns
$grid-columns: 4; // Total number of columns in the grid
$max-width: 960px; // Max-width of the outer container
//$border-box-sizing: true !default; // Makes all elements have a border-box layout
//$default-feature: min-width; // Default @media feature for the breakpoint() mixin

/* colours */
$body-bg: #4B5B6E;
$menu-bg: #343444;
$menu-fg: #ffffff;
$content-bg: #F1F2DF;
$content-fg: #4B5B6E;